<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10">
  <Identity Name="WinUIApp.Sample" Publisher="CN=DevCert" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WinUIApp</DisplayName>
    <PublisherDisplayName>Dev</PublisherDisplayName>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0"/>
  </Dependencies>
  <Resources>
    <Resource Language="en-us"/>
  </Resources>
  <Applications>
    <Application Id="App" Executable="WinUIApp.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="WinUIApp" Description="CLI sample" />
    </Application>
  </Applications>
</Package>